#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#happyPikachu {
  mix-blend-mode: multiply;
}

input {
  margin: 5px;
}

.cardImg {
  width: 130px;
  height: 130px;
}

li {
  list-style-type: none;
}